asgiref
certifi
charset-normalizer
cloudinary
Django
django-cloudinary-storage
django-stdimage
idna
pillow
psycopg2
psycopg2-binary
python-dotenv
requests
six
sqlparse
tzdata
urllib3
whitenoise
gunicorn